apiVersion: v1
kind: ConfigMap
metadata:
  name: config-{{=<% %>=}}{{<%={{ }}=%> template "{{microserviceName}}.name" . {{=<% %>=}}}}<%={{ }}=%>
  namespace: {{=<% %>=}}{{<%={{ }}=%> .Values.global.namespace {{=<% %>=}}}}<%={{ }}=%>
data:
  app.properties: |-
    app.custom.property={{=<% %>=}}{{<%={{ }}=%> .Values.global.sampleGlobalProperty {{=<% %>=}}}}<%={{ }}=%>

