package {{organisationPackage}}.service;

import {{organisationPackage}}.{{microserviceName}}.api.model.Dinosaur;

public class DomainService {

    public void delete(String id) {

    }

    public void update(String id, Dinosaur body) {
        // some custom stuff here
    }

}