<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <parent>
        <groupId>{{organisationPackage}}.{{organisationName}}.parent</groupId>
        <artifactId>{{organisationName}}-parent</artifactId>
        <version>1.1-SNAPSHOT</version>
        <relativePath>../../parent</relativePath>
    </parent>

    <groupId>{{organisationPackage}}.{{organisationName}}</groupId>
    <artifactId>{{microserviceName}}-service</artifactId>
    <packaging>jar</packaging>
    <version>1.1-SNAPSHOT</version>
    <name>{{microserviceName}}-service</name>

    <properties>
        <exec-maven-plugin.version>3.0.0</exec-maven-plugin.version>
        <docker.image.name>{{organisationName}}/{{microserviceName}}</docker.image.name>
    </properties>

    <dependencies>
    </dependencies>

    <build>
        <plugins>
            <plugin>
                <groupId>io.repaint.maven</groupId>
                <artifactId>tiles-maven-plugin</artifactId>
                <version>${tiles-maven-plugin.version}</version>
                <extensions>true</extensions>
                <configuration>
                    <filtering>false</filtering>
                    <tiles>
                        <tile>{{organisationPackage}}.tiles:tile-dotnet-docker:[1.3,2)</tile>
                        <tile>{{organisationPackage}}.tiles:tile-release-manifest:[1.3,2)</tile>
                    </tiles>
                </configuration>
            </plugin>
        </plugins>

    </build>

</project>
