<Project Sdk="Microsoft.NET.Sdk.Web">

    <PropertyGroup>
        <TargetFramework>netcoreapp3.1</TargetFramework>
        <RootNamespace>{{microserviceName}}_service</RootNamespace>
    </PropertyGroup>

    <ItemGroup>

    </ItemGroup>

    <ItemGroup>
        <PackageReference Include="dotnet-microservice-support" version="1.0.1-v*" />

        <PackageReference Include="{{organisationPackage}}.{{organisationName}}.{{microserviceName}}.api" version="1.0.1-v*" />
    </ItemGroup>

</Project>