{
    "version": "2.0.0",
    "tasks": [
{{#microservices}}
{{#isCSHARPProject}}
        {
            "label": "build-{{name}}",
            "command": "dotnet",
            "type": "process",
            "args": [
                "build",
                "${workspaceFolder}/code/service/{{name}}-service/{{name}}-service.csproj",
                "/property:GenerateFullPaths=true",
                "/consoleloggerparameters:NoSummary"
            ],
            "problemMatcher": "$msCompile"
        },
{{/isCSHARPProject}}
{{/microservices}}
        {
            "label": "publish",
            "command": "dotnet",
            "type": "process",
            "args": [
                "publish",
                "${workspaceFolder}/code/service/dotnetasaurus-service/dotnetasaurus-service.csproj",
                "/property:GenerateFullPaths=true",
                "/consoleloggerparameters:NoSummary"
            ],
            "problemMatcher": "$msCompile"
        },
        {
            "label": "watch",
            "command": "dotnet",
            "type": "process",
            "args": [
                "watch",
                "run",
                "${workspaceFolder}/code/service/dotnetasaurus-service/dotnetasaurus-service.csproj",
                "/property:GenerateFullPaths=true",
                "/consoleloggerparameters:NoSummary"
            ],
            "problemMatcher": "$msCompile"
        }
    ]
}